@using Humanizer; 
@model CITIwebApp.Models.Venta

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>Recibo</title>
	<link href="~/css/printer.css" rel="stylesheet" />
	<script defer src="~/js/qrcode.js"></script>
    </head>
    <body onload="window.print()" onafterprint="history.back()">
        <div class="contenerdor onlyPrint">
            <div style="text-align: center">
             <h3>HYUNDAI BOLIVIA</h3>
            <img src="https://1000marcas.net/wp-content/uploads/2020/01/logo-Hyundai.png" width="300" height="200" />
            <h1>RECIBO DE VENTA DEL VEHICULO</h1>
            </div>
            <dl class="row">
                <dd class="col-sm-12">
                    Fecha: @Html.DisplayFor(model => model.Fecha)
                </dd>
                <dd class="col-sm-10">
                    Oficial de ventas: @Html.DisplayFor(model => model.Usuario.NombreCompleto)
                </dd>
                <dd class="col-sm-10">
                    Nombre del comprador: @Html.DisplayFor(model => model.Cliente.NombreCompleto)
                </dd>
                <dd class="col-sm-10">
                    Celular: @Html.DisplayFor(model => model.Cliente.Celular)
                </dd>
                <dd>
                    CI: @Html.DisplayFor(model => model.Cliente.CI)
                </dd>
                <dd class="col-sm-10">
                    Matricula del auto: @Html.DisplayFor(model => model.Vehiculo.Matricula)
                </dd>
                <dd class="col-sm-10">
                    Modelo del vehiculo: @Html.DisplayFor(model => model.Vehiculo.Modelo)
                </dd>
                <dd>
                    Monto total: @Html.DisplayFor(model => model.Monto) Bs.
                </dd>
        @{
                    float aux = (float)(Model.Monto);
                    string literal = ConvertirALiteral((int)aux);
                    static string ConvertirALiteral(int numero)
                    {
                        string literal = numero.ToWords();
                        return literal;
                    }
                }
                <dd>
                    Son: @literal.ToUpper() Bs.
                </dd> 
            </dl>
            @{
            string qr = String.Format("{0}|{1}|{2}|{3}|{4}|{5}|{6}|{7}|{8}",
                Model.Fecha,
                Model.Usuario.NombreCompleto,
                Model.Cliente.NombreCompleto,
                Model.Cliente.Celular,
                Model.Cliente.CI,
                Model.Vehiculo.Matricula,
                Model.Vehiculo.Modelo,
                Model.Monto,
                literal
            );
        }
        <script>
            const Q = new QRcode 
        </script>
        </div>
    </body>
</html>